/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.btn-high {
  vertical-align: text-top;
}

.gray {
  background-color: #e0e0e0;
}

span.label {
  display: inline-block;
  // flex-grow: 1;
  margin: 1px
}

.progress {
  margin-bottom: 4px;
}

hr {
  margin-bottom: 8px;
  margin-top: 8px;
}

body {
  // font-size: 12px;
  font-family:  Meiryo, Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", sans-serif;
}

// span.label {
//   margin: 5px;
// }

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.thumbnail {
  flex: 0 1 auto;
  width: 30%;
  margin-left: 1%;
  margin-right: 1%;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.thumbnail .caption {
  flex-bases
}

.thumbnail .footer {
  margin-top: auto;
}

